html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#01040e, #2c334d);
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}