@use "variables" as v;
@use "mixins" as m;

.form {
    margin: 10% 0 10% 0;
    width:85%;
    padding: 10% 8% 10% 8%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(236, 232, 232);
    box-shadow: 0 6px 12px #ffffff42;
    color: black;

    @media (min-width: v.$tablet) {
        width: 60%;
        padding: 8% 10% 8% 10%;
        margin: 5% 0 5% 0;
        gap: 30px;
    }

    @media (min-width: v.$laptop) {
        width: 85%;
        margin: 0;
        padding: 6% 8% 6% 8%;
    }

    @media (min-width: v.$laptopL) {
        width: 80%;
        box-shadow: 0 6px 15px #ffffff42;
        margin: 50px 0 30px 0;
        gap: 45px;
    }

    @media (min-width: v.$fourK) {
        gap: 70px;

    }

    label {
        padding-bottom: 4%;

        @media (min-width: v.$tablet) {
            padding-bottom: 2.5%;
        }

        @media (min-width: v.$laptop) {
            padding-bottom: 1.5%;
        }
    }
}