.scene {
  width: 100vw;
  height: 100vh;
  // height: 110vh;
  font-family: sans-serif;
  /* background-image: linear-gradient(
    rgba(56, 18, 128, 0.993),
    rgb(194, 83, 120)
  ); */
  background-image: linear-gradient(
    /* rgb(51, 29, 4), */
    /* rgba(10, 50, 104, 0.993), */
    /* rgb(49, 46, 177) */
    #01040e, #2c334d
  );
  z-index: -100;
}

canvas {
  z-index: -100;
}

