// @use "variables" as v;
// @use "mixins" as m;


@use "mixins" as m;
@use "variables" as v;

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header.header {
  background-color: rgba(3, 14, 72, 0.753);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2%;


  @include m.laptop {
    padding: 7px;
  }


  nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 1;

    @include m.tablet {
      // padding: 1%;
    }

    @include m.laptop {
      // padding: %;
    }

    a.nav-logo {
      padding: 0;
      margin: 0;
      width: 45%;
      margin-left: 1.5rem;


      @include m.tablet {
        width: 20%;
      }

      @include m.laptop {
        width: 16%;
      }

      img {
        display: none;
      }

      img.--active {
        display: unset;
        width: 100%;
      }
    }

    .nav-menu.active {
      margin: 0;
      padding: 0;
      left: 0;
      z-index: 2;
    }

    ul.nav-menu {
      position: fixed;
      left: -100%;
      top: 4rem;
      flex-direction: column;
      background-color: rgb(25, 25, 25);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

      @include m.tablet {
        background-color: unset;
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        width: 70%;
      }

      p#closeBtn {
        color: white;
        font-size: 2rem;
        margin-top: 4%;

        &:hover {
          cursor: pointer;
          color: rgba(255, 132, 0);
        }

        @include m.tablet {
          display: none;
        }
      }

      li.nav-item {
        margin: 2.5rem 0;

        @include m.tablet {
          border-bottom: 1px solid rgba(0, 0, 0, 0);
          transition: border 0.2s;

          &:hover {
            // color: rgba(255, 132, 0);
            border-color: rgb(255, 255, 255);
          }
        }

        @include m.tablet {
          // margin-left: 5rem;
          margin: 0;
          margin-right: 6%;
          padding: 0;
        }

        a.nav-link {
          font-size: 1.3rem;
          font-weight: 600;
          color: white;
          letter-spacing: 0.1em;
          text-align: center;

          &:hover {
            color: rgba(255, 132, 0);
          }

          @include m.tablet {
            font-size: 1rem;

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

 
    div.hamburger.inactive {
      display: block;
      margin-right: 1.5rem;

      @include m.tablet {
        display: none;
      }

      i.fa-bars {
        font-size: 2rem;
        color: v.$primary-orange;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }

    .hamburger.active {
      display: none;
    }

  }
}