@use "mixins" as m;
@use "variables" as v;


.navbar {
  display: none;
  background-color: rgba(0, 0, 0, 0.40);
  padding: 10px;
  z-index: 2000;
  color: white;
  position: fixed;
  right: 10px;
  top: 0;
  width: 100%;

  @media (min-width: v.$tablet) {
    right: 0;
    top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;

    li.nav-item {
      padding: 10px;
      text-decoration: none;
      color: white;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .nav-link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

nav.navbar-open{
  width: 100%;
  text-align: center;
  text-decoration: none;
  z-index: 1500;
  position: fixed;
  top: 0;

  ul {
    background-color: v.$primary-blue;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 5%;
    margin: 0;

    li {
      margin-bottom: 10%;

      a{
        text-decoration: none;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: border 0.2s;
        font-size: 1rem;
        margin-top: 10px;
      
        &:hover {
          border-color: white;
        }
      
        @media (min-width: v.$tablet) {
          font-size: 1.1rem;
          margin-top: 15px;
        }
      
        @media (min-width: v.$laptop) {
          font-size: 1.2rem;
          margin-top: 18px;
        }
      
        @media (min-width: v.$laptopL) {
          font-size: 1.3rem;
        }
      
        @media (min-width: v.$fourK) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
  z-index: 2520;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.40);
  border-radius: 2px;


  i {
    font-size: 24px;
    color: white;
  }
}

@media (min-width: v.$tablet) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;

    ul {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .hamburger {
    display: none;
  }
}